$theme-background-color: rgb(255, 255, 255);
$theme-foreground-color: #333333;

$theme-header-background-color: rgba(255, 255, 255, 0.97);

$theme-accent-primary-background: #1D201F;
$theme-accent-primary-background-active: #161616;
$theme-accent-primary-foreground: #FFFFFF;

$theme-accent-secondary: #0000FF;
$theme-accent-secondary-active: #0000AA;

$theme-element-border-color: #D0D0D0;
$theme-element-border-color-active: #1D201F;

$theme-transition-easing: ease-in-out;
$theme-transition-timing: 0.135s;
